In [1]:
name = "Bob"
student_number = "ST1001"
email = "bob@gmail.com"
print(name, student_number, email)

Bob ST1001 bob@gmail.com

In [2]:
print("Bob\tST1001\tbob@gmail.com")

Bob	ST1001	bob@gmail.com

In [5]:
num1, num2 = 14, 7
print(f"{num1} + {num2} = {num1 + num2}")
print(f"{num1} * {num2} = {num1 * num2}")
print(f"{num1} - {num2} = {num1 - num2}")
print(f"{num1} / {num2} = {num1 / num2}")

14 + 7 = 21
14 * 7 = 98
14 - 7 = 7
14 / 7 = 2.0

In [6]:
for i in range(1, 6):
    print(i)

1
2
3
4
5

In [7]:
print('"SDK" stands for "Software Development Kit", whereas "IDE" stands for "Integrated Development Environment".')

"SDK" stands for "Software Development Kit", whereas "IDE" stands for "Integrated Development Environment".

In [8]:
print("python is an \"awesome\" language.")
print("python\n\t2023")
print('I\'m from Entri.\b')
print("\65")
print("\x65")
print("Entri", "2023", sep="\n")
print("Entri", "2023", sep="\b")
print("Entri", "2023", sep="*", end="\b\b\b\b")

python is an "awesome" language.
python
	2023
I'm from Entri
5
e
Entri
2023
Entr2023
Entri*20

In [9]:
num = 23
textnum = "57"
decimal = 98.3

print(f"Type of num: {type(num)}")
print(f"Type of textnum: {type(textnum)}")
print(f"Type of decimal: {type(decimal)}")

Type of num: <class 'int'>
Type of textnum: <class 'str'>
Type of decimal: <class 'float'>

In [10]:
days_in_year = 365
hours_in_day = 24
minutes_in_hour = 60

total_minutes = days_in_year * hours_in_day * minutes_in_hour
print(f"There are {total_minutes} minutes in a year")

There are 525600 minutes in a year

In [11]:
name = input("Please enter your name: ")
print(f"Hi {name}, welcome to Python programming :)")

Please enter your name:  Ginny

Hi Ginny, welcome to Python programming :)

In [12]:
pounds = float(input("Please enter amount in pounds: "))
conversion_rate = 1.25
dollars = pounds * conversion_rate
print(f"£ {pounds} are $ {dollars:.2f}")

Please enter amount in pounds:  55

£ 55.0 are $ 68.75